<h1>Dashboard</h1>

<p>EnviroPoll ist eine Webanwendung, mit der Sie den Status des Umweltmanagements Ihrer Organisation überprüfen können.<br />
	Hier noch mehr Text über Enviropoll schreiben.</p>

<%= link_to "Umfrage starten", new_registration_path, class: "btn btn-default" %>