<h1>Registrierung</h1>
<p>Bevor Sie die Umfrage starten müssen Sie noch einige Angaben zu Ihrer Organisation und einem Ansprechpartner machen.</p>

<%= form_for @organisation, url: registrations_path, html: {class: 'form-horizontal', role: 'form'} do |f| -%>
    <table>
      <tr>
        <td>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Angaben zur Organisation</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                  <%= f.label :organisation_name -%>
                  <%= f.text_field :organisation_name, class: 'form-control' -%>
                </div>
                <div class="form-group">
                  <label>Standort</label><br/>
                  <label for="streetorganisation">Straße</label>
                  <input type="text" class="form-control" id="streetorganisation">
                </div>
                <div class="form-group">
                  <label for="streetnumberorganisation">Hausnummer</label>
                  <input type="text" class="form-control" id="streetnumberorganisation">
                </div>
                <div class="form-group">
                  <label for="zipcodeorganisation">Postleitzahl</label>
                  <input type="text" class="form-control" id="zipcodeorganisation">
                </div>
                <div class="form-group">
                  <label for="cityorganisation">Stadt</label>
                  <input type="text" class="form-control" id="cityorganisation">
                </div>
                <div class="form-group">
                  <label for="countryorganisation">Land</label>
                  <input type="text" class="form-control" id="countryorganisation">
                </div>

            </div>
          </div>
        </td>
        <td>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Angaben zum Ansprechpartner</h3>
            </div>
            <div class="panel-body">
              <form role="form">
                <div class="form-group">
                  <label for="formofadressuser">Anrede</label>
                  <input type="text" class="form-control" id="formofadressuser">
                </div>
                <div class="form-group">
                  <label for="titleuser">Titel</label>
                  <input type="text" class="form-control" id="titleuser">
                </div>
                <div class="form-group">
                  <label for="firstnameuser">Vorname</label>
                  <input type="text" class="form-control" id="firstnameuser">
                </div>
                <div class="form-group">
                  <label for="lastnameuser">Nachname</label>
                  <input type="text" class="form-control" id="lastnameuser">
                </div>
                <div class="form-group">
                  <label for="birthdayuser">Geburtsdatum</label>
                  <input type="text" class="form-control" id="birthdayuser">
                </div>
                <div class="form-group">
                  <label for="phoneuser">Telefon</label>
                  <input type="text" class="form-control" id="phoneuser">
                </div>
                <div class="form-group">
                  <label for="faxuser">Fax</label>
                  <input type="text" class="form-control" id="faxuser">
                </div>
                <div class="form-group">
                  <label for="emailuser">E-Mail-Adresse</label>
                  <input type="text" class="form-control" id="emailuser">
                </div>
              </form>
            </div>
          </div>
        </td>
      </tr>
    </table>

    <span class="pull-right visible-desktop">
    <!-- hier folgt link zu nace code -->
      <%= f.submit t('.submit_create'), class: 'btn btn-primary' -%>
    </span>

<% end -%>




