/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 
 *= require bootstrap
 *= require_self
 *= require_tree .
 */

.navbar 
{
  border-color: #B0E04A;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 2.5em;
  color: #1e1e1e;
  text-align: center;

  img
  {
   float: left;
  }
}

html
{
  position: relative;
  min-height: 100%;
}

#footer
{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: #F8F8F8;
  border-top: 2px solid;
  border-color: #B0E04A;
  color: #1e1e1e;
  padding: 5px;
}

#main
{
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 75px;
  background: white;
}

.linkgrey
{
  color: #1e1e1e;
}

a.colored {
   color: #B0E04A;
   text-decoration: underline;
}