// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1
{ 
  color:#1e1e1e;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 2em;
  font-weight: bold;
}

.btn-default
{
  background-color: #B0E04A; 
  border-color:#1e1e1e
}

.btn-default:hover
{
  background-color: #F8F8F8; 
  border-color:#1e1e1e
}