.btn-link
{
  color: #000000;
  padding: 0px;
}

.btn-link:hover
{
  background-color: #B0E04A;
  color: #000000;
  text-decoration: none;
}

.btn-link:focus
{
  background-color: #B0E04A; 
  color: #000000;
  text-decoration: none;
}