// Place all the styles related to the registration controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h3
{
  font-weight: bold;
}

.panel-default
{
  border-color: #B0E04A;
}

.panel-default .panel-heading
{
  background-color: #F8F8F8;
}

table
{
  width: 100%;
  align: top;
}

td
{
  padding: 5px;
  vertical-align: top;
}

.form-control:focus
{
	border-color: #B0E04A;
	box-shadow: 0 0 10px;
	color: #B0E04A;
}
