// Place all the styles related to the registration controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h3
{
  font-weight: bold;
}

table
{
  width: 100%;
  align: top;
}

td
{
  padding: 5px;
  vertical-align: top;
}

.panel-default
{
  border-color: #B0E04A;
}

.panel-default .panel-heading
{
  background-color: #F8F8F8;
}

.form-group
{
  padding: 0 10px;
}

.form-control:focus
{
	border-color: #B0E04A;
	box-shadow: 0 0 10px #B0E04A;
  color: #000000;
}

.alert-danger
{
  background-color: #F80000;
  border-color: #000000;
  color: #000000;
  margin-top: 30px;
  margin-bottom: 5px;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  padding: 10px;
}

.form-group .field_with_errors
{
  background-color: #FFFFFF;
  color: #F80000;
}